<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login_wrapper">
        <div class="login_container">
            <form action="/register" method="post" target="_self">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="pt_password" placeholder="Password">
            <input type="submit" class="submit_btn" value="Sign Up">
            </form>
        </div>
    </div>
</body>
</html>