html{
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px){
    .App{
        margin: 0 20% 0 20%;
    }
}

@media only screen and (min-width: 1400px){
    .App{
        margin: 0 40% 0 40%;
    }
}
/*
header{
    padding: 1rem 5%;
    height: 4rem;
    position: fixed;
    background-color: #CCC;
    bottom: 0;
    z-index: 99;
    border-bottom: 2px solid #121212;
    width: 100%;
}
*/