html{
    margin: 0;
    padding: 0;
}
/*
header{
    padding: 1rem 5%;
    height: 4rem;
    position: fixed;
    background-color: #CCC;
    bottom: 0;
    z-index: 99;
    border-bottom: 2px solid #121212;
    width: 100%;
}
*/