*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul.navList{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1% 0;
}

li{
    display: inline;
}

li img{
    height: 32px;
}

.navbar{
    z-index: 99;
    box-shadow: 0 -0px 10px #AAA;
    background-color: #F9F9F9;
}