.fetchedPosts{
    margin: 0 auto;
    padding:  0 5% 0 5%;
}

.postContainer{
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;
    padding: 5% 0 5%;
    position: relative;
}

.username{
    text-decoration: underline 3px solid black;
}
.postDate{
    color: #666;
}

#dropdown-basic-button{
    position: absolute;
    right: 0;
    bottom: 0;
}