.fetchedPosts{
    margin: 0 auto;
    margin-top: 5%;
}

.postContainer{
    font-size: 1.2rem;
    border-bottom: 2px solid grey;
    padding: 5%;
}

.username{
    text-decoration: underline 3px solid black;
}
.postDate{
    color: #666;
}