.profileWrapper{
    padding: 1rem 1rem 0;
}

.joinDate{
    color: #666;
}

.heading{
    margin-bottom: 1.5rem;
}

.dropdown_profile{
    margin-right: 5%;
}
h3{
    text-decoration: none;
    color: #000;
}