.formContainer{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.cardContainer{
    width: 80%;
    position: relative;
}

.formInput.form-control{
}

Form{
}

.formInput{
    margin-bottom: .5rem;
}

.btn{
    background-color: #009e00;
}

.submitBtn{
    margin-bottom: .5rem;
}

.alert{
    margin-top: 3rem;
}