body{
    background-color: #333;
    color: #DDD;
}

.login_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}
.login_container{
    background-color: #222;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-radius: 20px;
    
}

input{
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #DDD;
}

.submit_btn{
    background-color: #c06600;
}

.submit_btn:hover{
    background-color: #7a4100;
}